{% block sidebar %}
    <div class="col-md-4 float-right">
        <div class="card my-4">
            <h5 class="card-header">O nas</h5>
            <div class="card-body">
                <p class="card-text">Strona ta jest poświęcona wydarzeniom które mają miejsce w wybranych miastach.
                    Za jej pośrednictwem mozesz je tworzyć a także rejestrować się na nie!</p>
                <a href="#" class="btn btn-danger">Dowiedz się więcej!</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}